table {
    width:400px;
    height:200px;
    border:10px solid red;
    margin:0px  auto;
    background:white;
}
body {
    position: relative;
    margin-top:300px;
    background-image:url("/static/img/login.png")
}